<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Dashboard</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-5">

  <div class="row g-4">

    <% blog.forEach(blog => { %>

      <div class="col-md-6 col-lg-4">

        <div class="card h-100 shadow-sm">

          <img
            src="<%= blog.coverImageURL %>"
            class="card-img-top"
            alt="Cover Image"
            style="height: 220px; object-fit: cover;"
          >

          <div class="card-body d-flex flex-column">

            <h5 class="card-title">
              <%= blog.title %>
            </h5>

            <p>
              By <strong><%= blog.createdBy.fullName %></strong>
            </p>

            <p class="card-text text-muted">
              <%= blog.body.substring(0, 100) %>...
            </p>

            <div class="mt-auto">
              <a
                href="/blog/<%= blog._id %>"
                class="btn btn-primary w-100"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
    <%- include('./partials/script') %>
  </body>
</html>
